body {
    background-color: #ccccff;
	color: #9999ff;
}

#content {
	background-color: #ffff99;
	color: black;
}

h1 {
    text-align: center;
	 font-size: 30px;
}

p {
    font-family: verdana;
    font-size: 15px;
}

